@model IEnumerable<Drawing>
@{
    ViewData["Title"] = "Home Page";
    var Data = Model;
}
<style>

    .flip-clock-container {
        --flip-bg-color: #9e2323 !important;
        --flip-text-color: #fff !important;
        --flip-dots-color: #a91b1b !important;
    }
</style>
<link rel="stylesheet" type="text/css" media="screen" href="~/css/flip-clock.css" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (Data == null)
{
    <p>
        Retrieving Data ...
    </p>
}
else
{
    <div style="margin-left: 70px">
        @foreach (Drawing drawing in Data)
        {
            <hr />
            <div class="drawing">
                <label>Campaign Starts:</label>
                <input type="text" class="time" value="@drawing.time.ToShortDateString()" disabled />
                <hr />
                <div class="wrapper">
                    <ul class="flip-clock-container flip-@drawing.ID">
                        <li class="flip-item-seconds">@drawing.seconds</li>
                        <li class="flip-item-minutes">@drawing.minutes</li>
                        <li class="flip-item-hours">@drawing.hours</li>
                        <li class="flip-item-days">@drawing.days</li>
                    </ul>
                </div>
            </div>
            <hr />
        }
    </div>
    <br />
    <div class="spacer10"></div>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/flip-clock.js"></script>